extends ../layout.pug

block title
  title 設定

block content
  div(class="container mt-4")
    h2 #{ user.username }

    ul.list-group.mb-4
      li.list-group-item
        p メールアドレス: #{ user.email }
      li.list-group-item
        a(href="/sns") SNS
        p 現在の連携中のアカウント: #{ user.email }
      li.list-group-item
        h6 起床時刻の設定
        p 現在の起床予定時刻: #{ user.getTargetWakeupTimeString() }

        form(action="/alarm/update" method="post")
          .form-row.align-items-center
            .col-auto.my-1
              input#alarm.form-control(type='time' name="targetWakeupTime" value=user.getTargetWakeupTimeString())
            .col-auto.my-1
              button.btn.btn-primary(type='submit') 更新

      li.list-group-item
        h6 募金額の設定
        p 現在の寝坊時の募金額: #{ user.fine }円

        form(action="/donation/update", method="post")
          .form-row.align-items-center
            .col-auto.my-1
              .form-group
                .input-group
                  .input-group-prepend
                    .input-group-text ￥
                  input(id="cardholder-name" class="form-control" name="amount" type="number" value=user.fine)
                  .input-group-append
                    button.btn.btn-primary(type='submit') 変更

        h6.mt-4 今すぐ募金
        form(action="/donation/pay", method="post" onsubmit="return confirm('募金します、よろしいですか?')")
          .form-row.align-items-center
            .col-auto.my-1
              .form-group
                .input-group
                  .input-group-prepend
                    .input-group-text ￥
                  input.form-control(name="amount", value="0")
                  .input-group-append
                    button.btn.btn-primary(type="submit") 募金

        h6.mt-4 募金先について
        form(action="/donation/register", method="post" onsubmit="return confirm('これで登録します、よろしいですか?')")
          .form-row.align-items-center
            .col-auto.my-1
              .form-group
                .input-group
                  .input-group-prepend
                    .input-group-text 名前
                  input.form-control(name="donationTarget", value=user.donationTarget placeholder="UNICEF")

              .form-group
                .input-group
                  .input-group-prepend
                    .input-group-text URL
                  input.form-control(name="donationTargetUrl", value=user.donationTargetUrl placeholder="https://www.unicef.org/")
              button.btn.btn-primary(type="submit") 募金先登録


      li.list-group-item
        h5.mb-2 クレジットカードリスト
        table(class="table mb-4")
          thead
            tr
              th #
              th カード名
              th カード番号
          tbody
            each card, index in cards
              tr
                th #{index}
                td #{card.name}
                td **** **** **** #{card.last4}

        a(class="btn btn-primary" href="/card/new") 新しいカードを登録


    a.btn.btn-secondary(href="/logout" onclick="return confirm('ログアウトしようとしています。よろしいですか？')") ログアウト
    .my-5
